* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body { 
  font-family: "Open Sans", sans-serif;
  color: #6A6969;
  text-align: center;
}

nav {
  padding: 1em;
  text-align: right;
  background-color: transparent;
}

nav a {
  color: #7E57C2;
  font-weight: bold;
}

header > h2 {
  font-size: 1em;
}

main {
  max-width: 1000px;
  width: 100vw;
  padding: 1.5em;
}

a {
  text-decoration: none;
}

p {
  padding: 0 1em;
  font-size: 0.9em;
}

.quiz-app > img {
  width: 100%;
}